<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <p class="text-blk heading">
          Enjoy Trip 
        </p>
        <p class="text-blk subHeading">
            This vacation is going to be great for you.I'd be happy to help you craft a description for your enjoyable trip. However, I'll need a bit more information to tailor it to your specific experience. Could you provide details such as the destination, activities you have planned, the people you're traveling with, and any special highlights you'd like to include? The more details you provide, the more personalized and engaging the trip description can be!
        </p>
      </div>
      <div class="responsive-container-block rightSide">
        <img class="number1img" src="assets/abou1.jpg">
        <img class="number2img" src="assets/about2.jpg">
        <img class="number3img" src="assets/about3.jpg">
        <img class="number5img" src="assets/about4.jpg">
        <iframe allowfullscreen="allowfullscreen" class="number4vid" poster="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b242.png" src="https://www.youtube.com/embed/svg%3E?">
        </iframe>
        <img class="number7img" src="assets/about5.jpg">
        <img class="number6img" src="assets/about6.jpg">
      </div>
    </div>
  </div>


  <section class="team">
    <h1>Meet Our Creative Team</h1>
    <div class="team-cards">
        <!-- Cards here -->
        <!-- Card 1 -->
        <div class="card">
            <div class="card-img">
                <img src="assets/team1.jpeg" alt="User 1">
            </div>
            <div class="card-info">
                <h2 class="card-name">Ashwini Ghate</h2>
                <p class="card-role">CEO and Founder</p>
                <p class="card-email">ashwinigate28&#64;gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <div class="card-img">
                <img src="assets/team2.jpeg" alt="User 2">
            </div>
            <div class="card-info">
                <h2 class="card-name">Mitali Shegokar</h2>
                <p class="card-role">Co-Founder</p>
                <p class="card-email">Mitalishegokar&#64;gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="card">
            <div class="card-img">
                <img src="assets/team3.jpeg" alt="User 3">
            </div>
            <div class="card-info">
                <h2 class="card-name">Tejaswini Masne</h2>
                <p class="card-role">Co-Founder</p>
                <p class="card-email">tejaswinimasne&#64;gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="assets/team1.jpeg" alt="User 1">
            </div>
            <div class="card-info">
                <h2 class="card-name">Gayatri Masne </h2>
                <p class="card-role">Co-Founder</p>
                <p class="card-email">gayatrimasne28&#64;gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>

        
    </div>
</section>

