<div >
	<nav id="navbar">
	  <ul class="menu">
		<li id="logo" title="Made by Johnny Stiwerson">
		  <p>Custom Logo</p>
		</li>
		
		<span id="responsive-menu">
		  <ul class="menu">
			<li class="menu-option">
			  <a href="home">Home</a>
			</li>
			<li class="menu-option">
				<a href="about">About Us</a>
			  </li>
			<li class="menu-option">
			  <p>Tours and Packages <strong>v</strong></p>
			  <ul id="products">
				<li><a href="placetogo" class="toursinner">Places To Go</a></li>
				<li><a href="thingtodo"class="toursinner">Thigs To Do</a></li>
			  </ul>
			</li>
			
			<li class="menu-option">
			  <p>Suport</p>
			</li>
			<li id="sign-in">
			  <p>Sign in</p>
			</li>
			<li id="sign-up">
			  <p>Sign up</p>
			</li>
		  </ul>
		</span>
	  </ul>
	</nav>
	<router-outlet></router-outlet>
  </div>
<app-herosection></app-herosection>
