<main>
    <div class="intro">
      <h1>Where Would You Like To Go ?</h1>
      <p>Than How to Waste Time Book Now.</p>
      <button>Book Now</button>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">ABOUT THE SITE </p>
        <p class="work-text">Customer Support, Payment Security, Privacy Policy Make A Payment</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">CORPORATE TRAVEL</p>
        <p class="work-text">Corporate Travel, Corporate Hotel Booking, Corporate Flight Booking, Business Travel for SME</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">MAKEMYTRIP</p>
        <p class="work-text">About Us, Investor Relations, Careers, MMT Foundation, Legal Notices, CSR Policy</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>Why Book Flights with Trip Organizer?</h2>
        <p>Best Deals Guaranteed ,User-Friendly Platform Our easy-to-use interface ensures a hassle-free booking experience,<br/>
             putting you in control of your travel plans. 24/7 Customer Support,Customized Itineraries Tailor your journey with<br/>
              personalized itineraries, ensuring every detail of your trip meets your preferences, provide Secure and Reliable:-<br>
               Rest easy knowing that your flight bookings are secure and reliable, giving you peace of mind as you embark on your next adventure.</p>
      </div>
      <img src="../../assets/about2.jpg" alt="me">
    </div>

    <footer class="footer">
        <div class="copy">&copy; 2022 Developer</div>
        <div class="bottom-links">
          <div class="links">
            <span>More Info</span>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
          </div>
          <div class="links">
            <span>Social Links</span>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </footer>
